MINIO_VERSION=RELEASE.2025-03-12T18-04-18Z
HOSTNAME={{ inventory_hostname }}

# auth
MINIO_ROOT_USER=mahdi
MINIO_ROOT_PASSWORD=12345678

DOMAIN={{ replicate_domain if 'replicate' in (labels | default([])) else domain }}
MINIO_BROWSER_REDIRECT_SUB=objects
MINIO_SERVER_SUB=api.objects