MINIO_VERSION=RELEASE.2025-03-12T18-04-18Z
HOSTNAME={{ inventory_hostname }}

# auth
MINIO_ROOT_USER={{ minio_root_user}}
MINIO_ROOT_PASSWORD={{ minio_root_password }}

DOMAIN={{ replicate_domain if 'replicate' in (labels | default([])) else domain }}
MINIO_BROWSER_REDIRECT_SUB={{ minio_web_sub_domain }}
MINIO_SERVER_SUB={{ minio_api_sub_domain }}