TRAEFIK_VERSION=v3.3.5
TRAEFIK_LOG_LEVEL=ERROR
HOSTNAME={{ inventory_hostname }}
ACME_EMAIL={{ acme_email }}


# DOMAIN
DOMAIN={{ replicate_domain if 'replicate' in (labels | default([])) else domain }}
SUB_DOMAIN=traefik

# auth
TRAEFIK_USERNAME=mahdi
TRAEFIK_PASSWORD="{SHA}cRDtpNCeBiql5KOQsKVyrA0sAiA="